[Unit]
Description="ATYappyBot Demon"
After=network.target

[Service]
User=root
Type=forking
ExecStart=/usr/local/bin/python3.8 -m /root/bot/ATYappybot/main.py
Restart=always

[Install]
WantedBy=multi-user.target