[Unit]
Description="ATYappyBot Demon"
After=network.target

[Service]
User=root
Type=simple
TimeoutSec=0
ExecStart=/usr/local/bin/python3.8 -m /root/bot/ATYappybot/main.py
KillMode=process

Restart=on-failure
RestartSec=42s

[Install]
WantedBy=default.target